.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-96 { font-size: 96px; }

:root{
    --shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}

body{
    background-color: rgba(232,233,239,1);
    font-family: 'Montserrat', sans-serif;
}

#logo{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-size: 13px;
}

#form-container{
    width: 450px;
    box-shadow: var(--shadow);
    background-color:aliceblue;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ------ Room styling ------ */

#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 75%;
    margin: 0 auto;
}

.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 95, 172);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198, 202, 219, 1);
}

.video-player{
    height: 100%;
    width: 100%;
}


/* ---------- Room Styling | Controls ---------- */

#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}

.control-icon{
    font-weight: 600 !important;
    box-shadow: var(--shadow);
    background-color: #fff;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#leave-btn{
    background-color: rgb(255, 80, 80, 1);
}